.round {
    border-radius: 50%;
}

.thumb {
    height: 80px;
    width: 80px;
}

.banner {
    height: 3.5em;
    width: 3.5em;
    max-width: none;
    max-height: none;
}

.large {
    height: 7.5em;
    width: 7.5em;
}

.large2x {
    height: 10.5em;
    width: 10.5em;
}

.border {
    border: 1px solid #bbb;
}

.white {
    background: #ffffff;
}

.cover-picture {
    &.thumb {
        height: 40vw!important;
        position: absolute!important;
        top: 0!important;
        width: 100%!important;
    }
}

.profile-picture {
    z-index: 5;
    position: absolute;
    right: 6vw;
    bottom: -15vw;
    &.thumb {
        height: 30vw !important;
        width: 30vw !important;
    }
}