<ion-tabs (ionTabsDidChange)="change()">

  <ion-tab-bar slot="bottom">

    <!-- Ambientes -->
    <ion-tab-button tab="rooms">
      <ion-icon name="home"></ion-icon>
      <ion-label>Ambientes</ion-label>
    </ion-tab-button>

    <!-- Contatos -->
    <ion-tab-button tab="contacts">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Clientes</ion-label>
    </ion-tab-button>

    <!-- Perfil -->
    <ion-tab-button tab="profile">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>