<header-app [title]="event ? 'Evento' : 'Novo Evento'"></header-app>

<ion-content>

    <ion-grid>

        <div *ngIf="event && event.contact && event.room">
            <h1>Informações do evento</h1>
            <h2>Ambiente: <b>{{event.room.name}}</b></h2>
            <h2>Contato: <b>{{event.contact.name}}</b></h2>
            <h2 *ngIf="event.description">Descrição: <b>{{event.description | uppercase}}</b></h2>
            <ion-row>
                <ion-col>
                    <h2>Dia: <b>{{eventDay | date:'dd/MMM'}}</b></h2>
                </ion-col>
                <ion-col>
                    <h2>De: <b>{{eventStartHour | date:'HH:mm'}}</b></h2>
                </ion-col>
                <ion-col>
                    <h2>Até: <b>{{eventEndHour | date:'HH:mm'}}</b></h2>
                </ion-col>
            </ion-row>

            <h1>Notificações</h1>

            <h2 class="title-top" *ngIf="event">Clique no botão abaixo para enviar uma notificação via whatsapp
            </h2>
            <ion-button *ngIf="event" margin-top margin-bottom (click)="sendNotification('whatsapp')" expand="block"
                class="button-option" color="success" fill="outline">
                Enviar Whatsapp</ion-button>

            <h2 class="title-top" *ngIf="event">Clique no botão abaixo para enviar uma notificação via SMS
            </h2>
            <ion-button *ngIf="event" margin-top margin-bottom (click)="sendNotification('sms')" expand="block"
                class="button-option" color="danger" fill="outline">
                Enviar SMS</ion-button>


        </div>

        <h2 class="title" *ngIf="!event">QUEM FARÁ PARTE DO EVENTO</h2>
        <!-- <h2 class="title" *ngIf="contact && !room">QUAL O AMBIENTE DO EVENTO</h2> -->
        <ion-row *ngIf="!event">
            <ion-col>
                <ion-item lines="none" class="select" *ngIf="shared.contacts">
                    <ion-label>Cliente*</ion-label>
                    <ion-select placeholder="Selecione um cliente" [(ngModel)]="contactSelectedId">
                        <ion-select-option [value]="contact.id" *ngFor="let contact of shared.contacts">{{contact.name}}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
                <!-- <ion-item lines="none" class="select" *ngIf="contact && !room">
                    <ion-label>Ambiente*</ion-label>
                    <ion-select placeholder="Selecione um ambiente" [(ngModel)]="roomSelectedId">
                        <ion-select-option [value]="room.id" *ngFor="let room of shared.rooms">{{room.name}}
                        </ion-select-option>
                    </ion-select>
                </ion-item> -->
            </ion-col>
        </ion-row>

        <!-- <h2 class="title">TÍTULO*</h2>
        <ion-row>
            <ion-col>
                <ion-item lines="none">
                    <ion-input placeholder="Coach empresarial" [(ngModel)]="title"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row> -->

        <h2 class="title" *ngIf="!event">DESCRIÇÃO</h2>
        <ion-row *ngIf="!event">
            <ion-col>
                <ion-item lines="none">
                    <ion-input [(ngModel)]="description">
                    </ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <h2 class="title" *ngIf="!event">DIA DO EVENTO*</h2>
        <ion-row *ngIf="!event">
            <ion-col>
                <ion-item lines="none">
                    <ionic-calendar-date-picker [date]="eventDay" (onSelect)="dateSelected($event)">
                    </ionic-calendar-date-picker>
                </ion-item>
            </ion-col>
        </ion-row>

        <h2 class="title" margin-top *ngIf="!event">O EVENTO OCUPARÁ O DIA TODO?</h2>
        <ion-row *ngIf="!event">
            <ion-col>
                <ion-item lines="none">
                    <ion-label>Reservar para o dia inteiro</ion-label>
                    <ion-checkbox [(ngModel)]="allDay"></ion-checkbox>
                </ion-item>
            </ion-col>
        </ion-row>

        <h2 class="title" *ngIf="!allDay && !event">HORÁRIO DO EVENTO</h2>
        <ion-row *ngIf="!allDay && !event">
            <ion-col>
                <ion-item lines="none">
                    <ion-label>Início</ion-label>
                    <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" minuteValues="0,30"
                        [(ngModel)]="eventStartHour"></ion-datetime>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item lines="none">
                    <ion-label>Fim</ion-label>
                    <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" minuteValues="0,30"
                        [(ngModel)]="eventEndHour"></ion-datetime>
                </ion-item>
            </ion-col>
        </ion-row>

    </ion-grid>

    <ion-button margin-bottom (click)="save()" expand="block" class="button-option" *ngIf="!event">Salvar</ion-button>
    <ion-button (click)="cancel()" expand="block" color="medium" fill="clear" class="button-option">
        {{ event ? 'Voltar' : 'Cancelar'}}</ion-button>
    <ion-button margin-bottom (click)="delete()" expand="block" color="danger" fill="clear" *ngIf="event">Excluir
    </ion-button>

</ion-content>